<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<meta charset="UTF-8">
	<title>Burgers</title>
</head>
<body>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 offset-md-5">
				<img src="BURGER-LARGE.jpg" alt="Burger Logo">
			</div>
		</div>
		<div class="row">
			<div id="burgers" class="col-md-4">
				
			</div>
			<div class="col-md-4">
				<h1>Eat-Da-Burger</h1>
			</div>
			<div id="devouredBurgers" class="col-md-4">
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<div class="form-group">
				  <label for="comment">Comment:</label>
				  <textarea class="form-control" rows="5" id="comment"></textarea>
				  <button id="submit" type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<p>Add a burger</p>
			</div>
		</div>
	</div>

	<!-- jquery -->
	<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
</body>
</html>